<style>
#infocontainer{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

#about {
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: -.5em;
}

#namestuff {
    width: 100%;
    margin-bottom: .5em;
}

#name {
    display: inline-block;
    margin: 0;
}

#avatar {
    width: 8em;
    height: 8em;
    margin-right: 1em;
    border-radius: 10px
}

#namephonetics {
    display: inline-block;
    font-size: .8em;
    opacity: .6;
}

#infoline{
    font-size: .9em;
}

</style>

<div id="infocontainer">
    <img src="/assets/img/momazos-nyna.png" id="avatar" alt="icon">
    <div id="about">
        <div id="namestuff"><h2 id="name" class="noanchor">NynaSunner</h2> <span id="namephonetics">( "nee-nah sun-er" | /ˈninasʌnər/ )</span></div>
        <span id="infoline">they/them &nbsp;★&nbsp; 22 &nbsp;★&nbsp; <span style="font-size: 1.2em;"><abbr title="Spain">🇪🇸</abbr> <abbr title="Bolivia">🇧🇴</abbr></span> &nbsp;★&nbsp; junior web dev</span>
        <hr>
    </div>
</div>