<!-- customize labels of htmlcommentbox.com -->
<script>
    /* This code goes ABOVE the main HTML Comment Box code!
     replace the text in the single quotes below to customize labels.*/
    hcb_user = {
        /* L10N */
        comments_header : '',
        name_label : 'Name',
        content_label: 'Enter your comment here',
        submit : 'Comment',
        logout_link : '<img title="log out" src="https://www.htmlcommentbox.com/static/images/door_out.svg" alt="[logout]" class="hcb-icon hcb-door-out"/>',
        admin_link : '<img src="https://www.htmlcommentbox.com/static/images/door_in.svg" alt="[login]" class="hcb-icon hcb-door-in"/>',
        no_comments_msg: 'No one has commented yet. Be the first!',
        add:'Add your comment',
        again: 'Post another comment',
        rss:'<img src="https://www.htmlcommentbox.com/static/images/feed.svg" class="hcb-icon" alt="rss"/> ',
        said:'said:',
        prev_page:'<img src="https://www.htmlcommentbox.com/static/images/arrow_left.png" class="hcb-icon" title="previous page" alt="[prev]"/>',
        next_page:'<img src="https://www.htmlcommentbox.com/static/images/arrow_right.png" class="hcb-icon" title="next page" alt="[next]"/>',
        showing:'Showing',
        to:'to',
        website_label:'Website (optional)',
        email_label:'Email (optional)',
        anonymous:'Anonymous',
        mod_label:'(mod)',
        subscribe:'Get replies',
        add_image:'Add Image',
        are_you_sure:'Do you want to flag this comment as inappropriate?',
    
        reply:'Reply',
        flag:'Flag',
        like:'Like',
    
        /* dates */
        days_ago:'days ago',
        hours_ago:'hours ago',
        minutes_ago:'minutes ago',
        within_the_last_minute:'within the last minute',
    
        msg_thankyou:'Thank you for commenting!',
        msg_approval:'NOTE: This comment is not published until approved',
        msg_approval_required:'Thank you for commenting! Your comment will appear once approved by a moderator.',
    
        err_bad_html:'Your comment contained bad html.',
        err_bad_email:'Please enter a valid email address.',
        err_too_frequent:'You must wait a few seconds between posting comments.',
        err_comment_empty:'Your comment was not posted because it was empty!',
        err_denied:'Your comment was not accepted.',
        err_unknown:'Your comment was blocked for unknown reasons, please report this.',
        err_spam:'Your comment was detected as spam.',
        err_blocked:'Your comment was blocked by site policy.',
    
        /* SETTINGS */
        MAX_CHARS: 8192,
        PAGE:'', /* ID of the webpage to show comments for. defaults to the webpage the user is currently visiting. */
        ON_COMMENT: function(){}, /* Function to call after commenting. */
        RELATIVE_DATES:false /* show dates in the form "X hours ago." etc. */
    };
</script>
<!-- done customizing labels of htmlcommentbox.com -->
    
<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24huZgg8NJAQ6GKotr%2Fwubf0"+"&opts=17166&num=10&ts=1706209394427");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); </script>
<!-- end www.htmlcommentbox.com -->
    
<style>
    #HCB_comment_box > h3{
        display: none;
    }

    input[type="text"], textarea{
        background: var(--accent-bg);
        color: var(--text);
        font-family: inherit !important;
        font-size: inherit !important;
        padding: 8px;
        border: 1px solid var(--accent);
        border-radius: 5px;
    }

    #HCB_comment_box {
        font-family: inherit;
    }

    .hcb-wrapper-half {
        display: block;
        width: 50%;
        float: left;
    }

    .hcb-wrapper-half input{
        width: 100%;
        box-sizing: border-box;
    }

    #hcb_form_name_container{
        margin-right: 1em;
    }

    #HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn{
        font-family: inherit;
        font-size: inherit;
        background: var(--accent-bg);
        color: inherit;
        border: 1px solid var(--accent);
        border-radius: 5px;
    }
    #HCB_comment_box #hcb_form .btn:hover, #HCB_comment_box #HCB_comment_form_box .btn:hover{
        background: var(--accent);
        color: var(--accent-bg);
    }

    #hcb_subscribe{
        position: relative;
        left: 16em;
        bottom: 4.8em;
        margin: 0 !important;
    }

    .home-desc{
        text-align: center;
        font-size: .8em;
    }

    .comment{
        border: 1px solid var(--accent);
        border-radius: 5px;
        padding: .5em 1.5em;
    }
    .comment .comment{
        margin: 1em -.5em .5em 1em !important;
    }

    .comment blockquote{
        border: none;
        background: none !important;
        padding: 0;
    }
    #HCB_comment_box .hcb-comment-body{
        font-size: inherit !important;
    }

    #HCB_comment_box .hcb-comment-tb button{
        color: var(--accent);
        margin-top: 0;
        margin-bottom: 0;
        font-size: inherit;
    }
    #HCB_comment_box .hcb-comment-tb button:hover{
        color: var(--accent-light);
    }
    #HCB_comment_box .hcb-comment-tb{
        width: fit-content;
        background: var(--text-bg);
        border-radius: 20px;
        padding: 0 .5em;
    }

    .likes{
        background: var(--text-bg);
        border-radius: 20px;
        padding: .1em .5em;
        margin-right: .5em;
        margin-top: .5em;
    }
    .likes img{
        filter: invert(66%) sepia(78%) saturate(4036%) hue-rotate(98deg) brightness(92%) contrast(117%);
    }
</style>