@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --bg: #170d29ea;
    --outer-bg: url(../img/background.webp);
    --accent-bg: #20113C;
    --text: #FBE6B9; /* #F4DFB3 */
    --text-light: #e7e1d0;
    --text-bg: #e6d7ae17;
    --caption: #A6D3A0;
    --accent: #8c6ae8; /* #8A69D8 */
    --accent-light: #c2b2eb;
    --code: #d8dee9;
    --code-bg: #090316;
}

/* Light mode stuff */

html[data-theme='light'] {
    --bg: #ffffffe5;
    --accent-bg: #fff;
    --text: #000000;
    --text-bg: #0000001a;
    --caption: #007d00;
    --accent: #794ddf;
    --accent-light: #00988a;
}

html[data-theme='light'] body{
    text-shadow: none;

    nav a, .dropdown > summary{
        background: var(--accent);
        color: white !important;
    }
    nav a.nav-current{
        background: var(--accent-light);
        border-color: var(--accent-light);
        color: var(--bg) !important;
        font-weight: bold;
    }
    nav a:hover, .dropdown > summary:hover{
        color: var(--text) !important;
        border-color: var(--accent-light);
        background: var(--accent-light);
    }
    .svg{
        filter: none;
    }
    a button, button, input[type="submit"], input[type="reset"], input[type="button"]{
        background: var(--accent);
    }
    .dropdown > ul {
        background: var(--accent);
    }
    blockquote{
        background-color: rgba(0, 0, 0, .1);
    }
}

/* General stuff */

html{
    background: var(--outer-bg) fixed;
    color:var(--text);
    padding: 1em;
    background-color: var(--bg);
}

body{
    background-color: var(--bg);
    text-shadow: -2px 2px 4px rgb(0, 0, 0);
    font-family: "Twemoji Country Flags", 'Source Code Pro', 'Roboto Mono', 'Courier Prime', monospace;
    font-weight: 400;
    line-height: 1.75; /* Could be set to the golden ratio (1.618) but it'd be too squished */
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.5em;
    padding-bottom: .5em;
    font-size: 17px;
    background-color: var(--bg);
    border: 4px solid var(--accent);
    border-radius: 20px;
}

@media only screen and (max-width: 600px){ /* Not mobile first (bad) (cringe) */
    html{
        padding: 0;
    }
	body{
		font-size: 14px;
	}
    .flex-wrapper{
        flex-wrap: wrap;
    }
    .flex-wrapper > div{
        width: 100% !important;
    }
}

/* Text and basic stuff */

p{
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6{
  /* margin: 3rem 0 1.38rem; */
  font-family: 'Courier Prime';
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 0em;
}

h1{
  font-size: 2.3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.7em;
}

h4{
    font-size: 1.4em;
}

h5{
    font-size: 1.1em;
}

header h1{
    margin-top: .5em;
}

hr{
  border: none;
  border-top: 2px solid var(--accent);
}

small, .text_small, .small{
    font-size: 0.8em;
}

strong > *{
    font-weight: bold !important; /* This seems dumb but else the links don't get bolder */
}

main img{
  max-width: 100%;
  height: auto;
}

figure{
    margin: 0;
    width: fit-content;
}

.pic img{
    border-radius: 10px;
}

figure figcaption {
    text-align: center;
    font-size: .9em;
    color: var(--caption);
}

mark, .marker{ /* I copied this from Carrd ngl */
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    color: var(--text)!important;
    background-color: var(--text-bg) !important;
}

blockquote{
    border-left: 2px solid var(--accent);
    background-color: rgba(0, 0, 0, .3);
    padding: 0 1em;
}

code{
    font-family: 'Consolas';
    background-color: var(--code-bg);
    word-wrap: break-word;
    color: var(--code);
    text-shadow: none;
    padding: 2px 5px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 5px;
}

pre code{
    padding: 0;
    border: none;
}

pre{
    background-color: var(--code-bg);
    color: var(--text-light);
    border-radius: 8px;
    overflow:auto;
    line-height: 1.245rem;
    padding: 1rem;
}

.center{
    text-align: center;
}

.center figure{
    width: unset;
}

/* I GOT TIPPY.JS SO I'M COMMENTING THE TOOLTIP STUFF FOR NOW */

.tippy-box{
    background-color: #222;
    border: 1px solid #aaa;
    text-shadow: none;
}
.tippy-arrow{
    color: #aaa;
}

/* Abbr 

abbr[title] {
    position: relative;
}
  
abbr[title]:hover::after, abbr[title]:focus::after {
    content: attr(title);
    position: absolute;
    left: 10px;
    bottom: 1.7em;
    width: auto;
    white-space: nowrap;
  
    background-color: #222;
    color: var(--code);
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: .87em;
    padding: 0 5px;
}

*/

/* Tooltip 

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 0.2s;
    visibility: hidden;
    width: 14rem;
    max-width: 60vw;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: var(--accent-bg);
    border: 1px solid var(--accent);
    
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip:focus-within .tooltiptext {
    visibility: visible;
    opacity: 1;
}

*/

/* Tables - Idk how I want to style them yet */
table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

table th{
    background-color: var(--text-bg);
}

table th, table td{
    padding: 10px 20px;
    border: 1px solid var(--text);
}

tr:nth-child(even) {
    background-color: var(--text-bg);
}

/* Links, buttons, tags, and such*/

a, a:visited{
    color: var(--accent);
    transition: .3s;
    font-weight: 500;
}

a:hover, a:focus{
    color: var(--accent-light);
    text-decoration: none;
}

a button, button, input[type="submit"], input[type="reset"], input[type="button"]{
    border: 1px solid var(--accent);
    border-radius: 5px;
    background: var(--accent-bg);
    color: var(--text);
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    padding: .7rem .9rem;
    margin: .5rem .1rem;
    transition: .4s;
}

a button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{
    background: var(--accent);
    color: var(--accent-bg);
}

.tag, .tag:visited{
    border-radius: 20px;
    background: var(--accent);
    color: var(--bg);
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    padding: .15rem .5rem;
    margin: .5rem .1rem;
    transition: .2s;
}

.tag:hover{
    background: var(--accent-light);
    color: var(--bg);
}

/* Navbar */

nav a, .dropdown > summary{
    border: 1px solid var(--accent);
    background: var(--accent-bg);
    margin: .7rem .3rem; 
    color: var(--text-light) !important;
    border-radius: 25px;
    display: inline-block;
    padding: .3rem 1rem;
    text-decoration: none;
    text-shadow: none;
    transition: .4s;
    vertical-align:top;
    font-size: unset;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown > summary{
  cursor: pointer;
}

.dropdown summary:before{
  content: "⏵";
}

.dropdown > ul {
    position: absolute;
    z-index: 999;
    display: block;
    left: -20%;
    top: 3.4em;
    border: 1px solid var(--accent);
    background: var(--accent-bg);
    border-radius: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: max-content;
}

.dropdown > ul a {
    display: block;
    border: none;
    border-radius: 15px;
    margin: .3rem .3rem;
}

.dropdown[open] summary:before {
  content: "⏷";
}

nav a.nav-current, .pagination a.pag-current{
    background: var(--accent-light);
    border-color: var(--accent-light);
    color: var(--bg) !important;
    font-weight: bold;
}

nav a:hover, .dropdown > summary:hover, .pagination a:hover{
    color: var(--bg) !important;
    border-color: var(--accent);
    background: var(--accent);
}

/* Lists */

@counter-style stars{
    system: cyclic;
    symbols: "\2726";
    suffix: " ";
}

ul{
    list-style-type: stars;
}

ol{
    counter-reset: item;
    list-style-type: none;
}

ol>li:not([id*="fn"]){
    counter-increment: item;
}
ol>li:not([id*="fn"])::before{
    content: counters(item, '.') '. '; 
}

/* Emojis and icons */

.svg{
    filter: invert(91%) sepia(11%) saturate(245%) hue-rotate(7deg) brightness(99%) contrast(91%);
	height: 1em;
	vertical-align: middle;
    border-radius: 0;
}

.emoji{
    height: 1.3em;
    vertical-align: text-bottom;
}

img.emoji{
    border-radius: 0%;
}

/* Details (the dropdown box thingie) */

details summary{
    font-size: 1.3em;
}

details > div{
    border: 1px solid var(--accent);
    width: fit-content;
    border-radius: 10px;
    padding-right: 1em;
    padding-left: 1em;
}

/* Very specific things */

iframe[src*="ads-iframe"]{ /* Fuck you disqus */
    display: none;
}

#banner{
    border-bottom: 4px solid var(--accent);
    margin: -1.5em;
    margin-bottom: 1.5em;
    height: 13em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/headers/wysteria.jpg);
}

footer{
    font-size: .9em;
}

.pagination {
    display: block;
    text-align: center;
    margin: 2em 0;
}
  
.pagination a {
    color: var(--text);
    text-shadow: none;
    background-color: var(--accent-bg);
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: .3em .7em;
    text-decoration: none;
}

.ytvideo{
    aspect-ratio: 16 / 9;
    width: 100%;
}

.flex-wrapper{
    display: flex;
    gap: 0 10px;
}

.flex-wrapper > div{
    width: 50%;
}

.yellow-wrapper{
    padding: .5em;
    background-color: var(--text-bg);
	border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1em;
}

.post-title{
    font-size: 1.3em;
}

#backtotop{
    position: fixed;
    right: 5vw;
    bottom: 3em;
    font-weight: bolder;
    cursor: pointer;
}

#theme-btn{
    vertical-align: top;
    margin: .7rem .3rem;
    font-size: .8em;
}

input{
    accent-color: var(--accent);
}

/* Bi webring */

#bisexualism table{
    width: auto;
    font-size: inherit !important;
}

#bisexualism td{
    padding: 0;
    border: none;
}

/* Freezeframe */

.ff-container .ff-overlay{
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

/* TOC list */

#toc-sidebar{
    position: fixed;
    background: var(--bg);
    border: 1px solid var(--accent);
    border-radius: 20px;
    margin-left: 62.5rem;
    top: 6rem;
    padding: 1rem;
    max-width: 20rem;
    height: fit-content;
    font-size: .9em;
}

#toc-sidebar a{
    text-decoration: none;
}

.toc-link{
    transition: none !important;
}

.toc-link::before{
    height: 1.8em !important;
    left: 12px !important;
    background: none !important;
}

.is-active-li{
    color: var(--accent) !important;
}

.is-active-link::before{
    background-color: var(--accent) !important;
}

@media only screen and (max-width:1500px){
    #toc-sidebar{
        visibility: hidden;
    }
}

/* Monokai themed codeblock code here */

.highlight pre { background-color: var(--code-bg); }
.highlight .hll { background-color: var(--code-bg); }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */