@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    /* Line height is set to the golden ratio */
    --line-height: 1.618;
    
    --bg: #0e1429;
    --outer-bg: #00030b;
    --text: #dadada;
    --accent: #56a8ff;
    --accent-light: #c0dfff;
    --border: #dadada;

    --border-shadow: 0 0 10px #dadadaad;
}

html{
    background-color: var(--outer-bg);
    color:var(--text);
    padding: 1em;
    background: url('/assets/img/shrines/homosuck/skaia.webp') no-repeat fixed;
    background-size: cover;
    image-rendering: crisp-edges;
}

body{
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    line-height: var(--line-height);
    max-width: 60rem;
    margin: 0 auto;
    font-size: 1.063rem;
}

header{
    background: url('https://images-4.gog-statics.com/82c1d64e42646a81e08b371d9729cf000034f72d27506332e1915ed9ee06a9e6.jpg') no-repeat;
    background-size: cover;
    height: 6em;
    border: 1px solid var(--border);
    box-shadow: var(--border-shadow);
    
    text-align: center;
    padding-top: 5em;
    color: black;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
}

nav{
    width: 6em;
    background-color: var(--bg);
    padding: 0 1.5em;
    padding-top: 1em;
    border: 1px solid var(--border);
    box-shadow: var(--border-shadow);
    height: fit-content;
    margin-right: 1em;
    position: sticky;
    top: 1em;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav summary{
    text-align: center;
    border-bottom: 1px solid var(--border);
}

main{
    flex: 1 1 70%;
    background-color: var(--bg);
    border: 1px solid var(--border);
    box-shadow: var(--border-shadow);
    padding: .5em 1.5em;
}

@media screen and (max-width: 800px) {
    nav{
        width: 100%;
        margin: 0;
        position: static;
        margin-bottom: 1em;
    }
    body{
		font-size: 14px;
	}
}

/* Basic styling */

a{
    color: var(--accent);
    transition: .3s;
}

a:hover{
    color: var(--accent-light);
    text-decoration: none;
}

img{
    max-width: 100%;
}

hr{
    border: none;
    border-top: 1px solid var(--border);
}

ol{
    counter-reset: item;
    list-style-type: none;
}

ol>li:not([id*="fn"]){
    counter-increment: item;
}
ol>li:not([id*="fn"])::before{
    content: counters(item, '.') '. '; 
}

/* Extra text shit styling */

blockquote{
    padding-left: 2em;
    margin-left: 0;
    border-left: 2px solid var(--border);
}

/* Other stuff*/

.emoji{
    height: 1.3em;
    vertical-align: text-bottom;
    image-rendering: initial;
}

.center{
    text-align: center;
}