<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} 🟊 NynaSunner</title>
    <link rel="icon" href="/assets/img/favicon.ico" />
    <meta name="description" content="{{ page.description }}"/>
    <!-- Embed shit here -->
	<meta property="og:site_name" content="NynaSunner.space"/>
	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:description" content="{{ page.description }}">
	<meta property="og:image" content="/assets/img/momazos-nyna.png"/>
	<meta name="theme-color" content="#a100d8">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <script data-goatcounter="https://nynasunner.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <script src="https://unpkg.com/freezeframe/dist/freezeframe.min.js"></script>

    <!-- <meta http-equiv="refresh" content="0; url=https://nynasunner.space{{ page.url }}"> -->

    
</head>

<body>
    <header>
        <div id="banner" class="banner"></div>
        <script> // Randomize the header banner
            var path = '/assets/img/headers/';
            var bgm = ['firework.jpg','wysteria.jpg','castle.jpg','lake.jpg','yorozuya.png','tree.jpg','magicka.png','sea.jpg','flowerhill.jpg','streetlight.jpg'];
            var header = document.querySelector("#banner");
            header.style.backgroundImage = 'url(' + path + bgm[Math.floor(Math.random() * bgm.length)] + ')';
        </script>
    </header>
    <!-- Start of page -->
    <div>
        <hr>
        <div class="center">
            {% include navigation.html navigation=site.data.menu %}
        </div>
        <hr>
        {% if page.header %}<h1>{{ page.header }}</h1>{% endif %}
        {% if page.toc %}
            {% include toc.html html=content class="toc" item_class="toc-item" ordered=true h_max=3 %}
            <hr>
        {% endif %}
        {% if page.nsfw %}
        <div class="yellow-wrapper">
            <b>🔞 THIS PAGE CONTAINS MATURE (+18) CONTENT.</b> By proceeding you agree that you're an adult and consent to viewing such content.
        </div>
        {% endif %}
        <main id="content">
            {{ content }}
        </main>

        <footer>
            <hr>
            <div class="center">This website was last updated on {{ "now" | date: "%d/%m/%Y" }}</div>
            <hr>
            <div class="center">
                <p>©2021-{{ "now" | date: "%Y" }} NynaSunner - Site licensed under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License"   style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> unless stated otherwise</p>
            </div>
        </footer>
        <div class="bottombtns">
            {% include theme-button.html %}
            <br>
            <button id="backtotop" title="Back to top" onclick="window.location.href='#top'">⬆️</button>
        </div>
    </div>

<script src="/assets/js/anchor.min.js"></script>
<script>
    anchors.options = {
        visible: 'always',
        icon: '#'
    };
    anchors.add('h2, h3, h4, h5, h6, .anchor').remove('.noanchor');
</script>

</body>

<script> // Theme dialog toggle
    var dialog = document.getElementById("theme-dialog");
    var showButton = document.getElementById("theme-btn");
    var closeButton = document.getElementById("close-theme");

    showButton.addEventListener("click", () => {
      dialog.showModal();
    });

    closeButton.addEventListener("click", () => {
      dialog.close();
    });
</script>

<script> // Theme picker
    var toggle = document.getElementById("theme-picker");
    var storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
    if (storedTheme){
      document.documentElement.setAttribute('data-theme', storedTheme);
    }

    toggle.onchange = function() {
      var currentTheme = document.documentElement.getAttribute("data-theme");
      var targetTheme = this.value;

      document.documentElement.setAttribute('data-theme', targetTheme)
      localStorage.setItem('theme', targetTheme);
    };

    // Font picker
    var toggle = document.getElementById("font-picker");
    var storedFont = localStorage.getItem('font');
    if (storedFont){
      document.documentElement.setAttribute('data-font', storedFont);
    }

    toggle.onchange = function() {
      var currentFont = document.documentElement.getAttribute("data-font");
      var targetFont = this.value;

      document.documentElement.setAttribute('data-font', targetFont)
      localStorage.setItem('font', targetFont);
    };
</script>

<script> // Freezeframe and animation toggle
    var toggle = document.getElementById("anim-toggle");
    var storedPreference = localStorage.getItem('anim-preference');
    if (storedPreference){
      document.documentElement.setAttribute('anim-toggle', storedPreference);
    }
    else if(window.matchMedia(`(prefers-reduced-motion: reduce)`) === true || window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true){
        storedPreference = "click";
        document.documentElement.setAttribute('anim-toggle', storedPreference);
    }

    toggle.onchange = function() {
      var currentPref = document.documentElement.getAttribute("anim-toggle");
      var targetPref = this.value;

      document.documentElement.setAttribute('anim-toggle', targetPref)
      localStorage.setItem('anim-preference', targetPref);
    };

    switch (localStorage.getItem('anim-preference')) {
        case 'enabled': // Don't create freezeframes
            break;
        case 'click':
            new Freezeframe({
                responsive: false,
                overlay: true,
                trigger: 'click'
            });
            break;
        case 'disabled':
            new Freezeframe({
                responsive: false,
                trigger: false
            });
            break;
        default:
            new Freezeframe({
                responsive: false,
                overlay: true
            });
            break;
    }
</script>

<!-- NOT NEEDED WITH TWEMOJI RN 
<script type="module" defer> //Snippet to make flag emojis work in browsers that don't have them
    import { polyfillCountryFlagEmojis } from "https://cdn.skypack.dev/country-flag-emoji-polyfill";
    polyfillCountryFlagEmojis();
</script>
-->

<script> // Twemoji :D
    twemoji.parse(document.body);
</script>

<script> // Lil easter egg
    console.log("Oh god why are you looking at my mess of a code I am not good with conputer");
</script>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
    tippy('abbr, .tooltip', {
        content: (reference) => reference.getAttribute('title'),
        interactive: true,
    });
</script>

</html>
